<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="季節日記"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeasonalDiaryWidget">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="seasonaldiary" android:host="widget" android:pathPrefix="/update" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SeasonalDiaryWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/seasonal_diary_widget_info" />
        </receiver>
    </application>
</manifest>
